footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
}

.footer-content {
    width: 90%;
    margin: auto;
}

footer h2 {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;

    & a {
        color: #74b7ff;
    }
}