header {
    position: absolute;
    top: 0px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin: auto;
}

.header-content {
    width: 90%;
    margin: auto;
}

header h2 {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;

    & a {
        color: #74b7ff;
    }
}