form {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .form-input {
        color: black;
        font-size: 20px;
        background-color: #e2e2e2;
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 9px 20px;
    }

    & button {
        font-size: 16px;
        padding: 12px 20px;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        background-color: #3989df;
        cursor: pointer;
        transition: 0.2s all;
    }

    & button:hover {
        background-color: #74b7ff;
    }
}

@media screen and (max-width: 468px) {
    form {
        flex-direction: column;

        & .form-input {padding: 7px 20px; width: 100%;}
        & button {padding: 7px 20px; width: 100%;}
    }
}